@media(max-width:500px) {
	a {
		font-size: 20px;
	}
}

@media(max-with:300px) {

}

hr {
   min-width:100%; 
   background-color:#7d97ad; 
   height:4px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color:#2d3c49;
}

.featurework h1 {
   color:#7d97ad;
}

